.container-paysage {
  display: flex;
  align-items: center;
  position: relative;
}

.container-cimetiere {
  position: relative;
  display: flex;
  align-items: center;
}

.container-lune {
  position: relative;
}

.container-wrapper .object-wrapper {
  margin: 20% 0;
}

.container-miroir {
  display: flex;
  justify-content: start;
  align-items: center;
}

.container-img-2 {
  display: flex;
  align-items: center;
}

.container-img-3 {
  display: flex;
  justify-content: start !important;
  align-items: center;
}

.container-img-4 {
  display: flex;
  justify-content: start;
  align-items: center;
}

.container-img-5-6-7-8 {
  display: flex;
  justify-content: space-around !important;
  align-items: center;
}

.container-img-9 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-double-animation {
  position: relative;
}

.container-wrapper {
  top: 0;
  left: 0;
  z-index: 2; /* L'élément au-dessus */
  position: absolute;
}
