footer {
  background-color: #0a3856;
  height: 70vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  position: relative;
}

.footer-book-container,
.footer-edition-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 5%;
  max-width: 400px;
}
.footer-book-container {
  text-transform: uppercase;
}

.footer-book-title {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 80px;
  text-transform: uppercase;
}

a .footer-book-title {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.footer-author {
  font-family: "Pathway Extreme", sans-serif;
  padding-bottom: 10px;
  font-weight: 300;
  margin-bottom: 40px;
}

.footer-edition-title {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 40px;
  text-transform: uppercase;
}

.footer-edition-description {
  margin-top: 40px;
  margin-bottom: 0;
}

.footer-edition-logo,
.footer-book-title {
  padding-bottom: 20px;
}

.footer-edition-description a,
.footer-credits a {
  text-decoration: underline;
}

.footer-edition-socials {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.footer-edition-socials svg {
  width: 30px;
  height: auto;
  margin-right: 30px;
}

.footer-edition-container {
  display: flex;
  flex-direction: column;
}

.footer-edition-description {
  margin-bottom: 20px;
}

.footer-edition-socials {
  display: flex;
  justify-content: flex-start;
}

.footer-credits {
  width: 100%;
  text-align: center;
  font-size: 15px;
  position: absolute;
  bottom: 5%;
}
