.object {
  width: 10%;
  height: 10%;
  opacity: 20;
  border-radius: 10px;
}

.object-wrapper ~ .object-wrapper {
  justify-content: end;
}

.object-wrapper {
  width: 100vw;
  height: 100vh;
}

.object-paysage {
  width: 100%;
  height: 100%;
  left: 100%;
  position: absolute;
}

.object-perso {
  width: 10%;
  height: 40%;
  position: absolute;
  bottom: 0;
  left: 40%;
  transform: scale(1);
}

.object-lune {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -100%;
}

.object-papillon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.object-miroir {
  width: 60%;
  height: 30%;
  transform: translateX(-60%);
}

.object-img-2 {
  width: 60%;
  height: 30%;
  transform: translateX(60%);
}

.object-img-3 {
  width: 60%;
  height: 30%;
  transform: translateX(-60%);
}

.object-img-4 {
  width: 60%;
  height: 30%;
  transform: translateX(60%);
}

.object-img-5 {
  width: 30%;
  height: 80%;
  bottom: -10%;
  position: relative !important;
}
.object-img-6 {
  width: 30%;
  height: 80%;
  bottom: -30%;
  position: relative !important;
}
.object-img-7 {
  width: 30%;
  height: 80%;
  bottom: -50%;
  position: relative !important;
}

.object-img-8 {
  position: absolute;
  width: 60%;
  height: 100%;
  top: 50%;
}
