.section-cimtiere {
  width: 100%;
  height: 80vh;

  background: url("../img/hiroshi_marche_cimetiere.webp");
  background-size: cover;
  background-position: bottom 40% left 50%;
  overflow: hidden;
}
