.section-double-animation {
  position: relative;
}

.section-papillon svg {
  width: 50%;
}

.section-memories {
  width: 50%;
  height: 50%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  z-index: -1;
}

.section-memories .object-wrapper {
  border: none;
}

.section-memories .object {
  width: 60%;
  height: 80%;
  overflow: hidden;
}

.section-double-animation .object-papillon {
  width: 10%;
}

.section-double-animation .object-wrapper-multi-vertical {
  height: unset;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.section-double-animation .object-wrapper-multi-vertical .object {
  position: unset;
  width: 20%;
  height: unset;
}

.section-double-animation .object-wrapper-multi-vertical #plonge-1 {
  transform: translateY(20%);
}

.section-double-animation .object-wrapper-multi-vertical #plonge-2 {
  transform: translateY(30%);
}

.section-double-animation .object-wrapper-multi-vertical #plonge-3 {
  transform: translateY(90%);
}

.section-double-animation .big-img {
  height: 120vh;
}

.section-double-animation .big-img .object {
  height: 100%;
}

.section-double-animation .big-img img {
  width: unset;
  height: 100%;
}
