.section-train-seat {
  width: 70%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  margin: auto;
  overflow: hidden;
}

.section-train-seat .object {
  height: 100%;
}

.section-train-seat .object img {
  height: 100%;
}

.section-train-seat .object-train img {
  width: unset;
}
